<header>
    <nav>
        <a href="/" class="logo">
            <div class="logo-icon"></div>
            <span class="logo-text">BlockwireNews</span>
        </a>
        <ul class="nav-links">
            {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        <div class="mobile-menu-toggle" id="mobileMenuToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>